<article id="noticias">
  <div class="text-center mb-5">
    <h1 class="display-4 fw-bold font-display mb-2">{{ 'CARRUSEL.TITULO' | translate }}</h1>
  </div>

  <div id="carouselNoticias" class="carousel slide carousel-container" (mouseenter)="pauseCarousel()"
    (mouseleave)="resumeCarousel()">
    <!-- Noticias -->
    <div class="carousel-inner">
      @for (noticia of noticias; track noticia.id; let i = $index) {
      <div class="carousel-item" [class.active]="i === currentIndex">
        <img [src]="noticia.imagen" [alt]="noticia.titulo" width="800" height="450"
          [attr.fetchpriority]="i === 0 ? 'high' : 'auto'" [loading]="i === 0 ? 'eager' : 'lazy'" >
      </div>
      }
    </div>
    <!-- Controles -->
    <a class="carousel-control-prev" role="button" (click)="prev()" aria-label="Anterior">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" role="button" (click)="next()" aria-label="Siguiente">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>

  <div class="carousel-content mt-4">
    @if (noticias[currentIndex]) {
    <h2 class="carousel-content-title font-display">{{ noticias[currentIndex].titulo }}</h2>
    <p class="carousel-content-description">{{ noticias[currentIndex].descripcion }}</p>
    <a [href]="noticias[currentIndex].enlace" class="btn btn-outline-success btn-sm mt-2" target="_blank"
      rel="noopener">{{ 'CARRUSEL.LEER_MAS' | translate }}</a>
    }
  </div>
</article>